$text-color: #E5E1E6;
$secondary-color: #B3A269;
$white-color: #E5E1E6;

// *{
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

// html, body, #root {
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//   }

// body {
//     margin: 0; /* aunque ya lo hiciste con el reset */
//   }

img{
  border-radius: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 10px; // texto grande por defecto (60px)
  margin-bottom: 1.5rem;
  letter-spacing: -0.01562em;
  text-align: center;
  font-size: 4rem; // 96px
}

.main-text {
  color: #B3A269;
  font-size: 10rem;
  font-weight: 800;
}

.image-title{
  font-size: 2rem;
  font-weight: 800;
}

.text {
  text-align: center;
  font-size: 1rem;
}

.title-section{
  font-size: 4rem;
  font-weight: 600;
}

.subtitle-section{
  font-size: 2rem;
  font-weight: 600;
}

.main-text-secondary {
  background: linear-gradient(to right, #B3A269, #E5E1E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; // Para compatibilidad adicional
  font-size: 8rem;

}

.main-button-background {
  color: black;
  border-radius: 9999px;
  background: $secondary-color;
  text-align: center;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
}

.main-button-transparent {
  color: $secondary-color;
  border-radius: 9999px;
  border: #B3A269 2px solid;
  text-align: center;

  &:hover {
    background: $secondary-color;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-with-bg {
  margin-top: 20px;
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1559526324-593bc073d938?auto=format&fit=crop&w=2000&q=80'); // o dinámico en React
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; // o el alto que necesites

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(42, 42, 42, 0.6); // oscurece la imagen
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    color: white;
    text-align: center;
  }
}

.cards-container {
  img {
    width: 30vw;
  }
}

.svg-circle {
  background: #433F35;
  padding: 20px;
  margin: auto;
  display: inline-flex;
  /* ocupa solo el espacio del contenido */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-only {
  background: #252527;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 0.8s ease, background-color 0.3s ease;

  &:hover {
    border: 1px solid #B3A269;
  }
}

.separator {
  border: none;
  height: 0.1px;
  background-color: #B3A269;
}

.section-dark {
  background: #242424;
  text-align: center;
  border: 1px solid #B3A269;
}

.text-style-2 {
  color: #e5e1e6cc;
  font-size: 20px;
}

.input-text-style {
  background: #242424;
  border-radius: 30px;
}

.small-text {
  color: #e5e1e6cc;
  font-size: 14px;
}

.inputtext-style {
  border: #B3A269 solid 1px;
  border-color: #B3A269;

  &:hover {
    border: #B3A269 solid 1px;
  }
  color: $white-color;
}

.p-inputtext:enabled:focus {
  border-color: #B3A269;
  box-shadow: 0 0 0 0.2rem #B3A269
}

.subtitle-gold-style {
  color: #B3A269;
  font-size: 20px;
  font-weight: 600;
}

.icon-outline {
  color: transparent;
  /* Sin relleno */
  -webkit-text-stroke: 0.8px #B3A269;
}

.icon-link {
  color: transparent;
  /* Sin relleno */
  -webkit-text-stroke: 0.8px $white-color;
  cursor: pointer;

  &:hover {
    -webkit-text-stroke: 0.8px #B3A269;
  }
}

.text-link{
  color: $white-color;
  cursor: pointer;
  &:hover{
    color: #B3A269;
  }
}