$white-color: #E5E1E6;
.text-style-2 {
    color: #e5e1e6cc;
    font-size: 20px;
  }

.small-title{
    color: #B3A269;
    font-weight: 600;
    font-size: 18px;
}

.medium-title{
    color: $white-color;
    font-size: 30px;

}