$white-color: #E5E1E6;
.text-style-2 {
    color: #e5e1e6cc;
    font-size: 20px;
  }

.small-title{
    color: #B3A269;
    font-weight: 600;
    font-size: 1.5rem;
}

.medium-title{
    color: $white-color;
    font-size: 2.5rem;
}

.title-section{
    font-size: 3rem;
    font-weight: 100;
}