body {
  font-family: 'Dorsa', sans-serif;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Barlow+Condensed:wght@400;700&display=swap');

.carousel-title {
  font-size: 50px;
}


.font-barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.font-barlow-condensed {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
