body {
  font-family: 'Dorsa', sans-serif;
}

$gold-color: #B3A269;
$white-color: #E5E1E6;
/* Google Fonts */


.carousel-title {
  font-size: 50px;
}


.font-barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.font-barlow-condensed {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.image-title{
  font-size: 3rem;
}

.image-price{
  color: $gold-color
}

.image-inspiration{
  font-size: 1.5rem;
  color: $gold-color
}

.image-description{
  font-size: 1.8rem;
  color: $white-color;
}

.image-details{
  font-size: 1.5rem;
  color: $gold-color
}

.image-details-text{
  font-size: 0.8rem;
  color: $white-color
}

.carousel{
  cursor: pointer;
}


%button-shared {
  padding: 1rem 1.5rem;
  font-weight: 400;
  border-radius: 9999px;
  border: 1px solid $gold-color;
  cursor: pointer
}

.selected-button {
  @extend %button-shared;
  color: #000000;
  background: $gold-color;
}

.unselected-button {
  @extend %button-shared;
  color: $gold-color;
  background: transparent;
  &:hover {
    color: $gold-color;
    background: $gold-color;
    color: black;
  }
}
